<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>weather bot</title>
        <meta name="description" content="Rainfall-alerting twitter bot">
        <meta name="author" content="Robert Wallhead">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            img {
                width: 256px;
                height: 256px;
                background-color: rgb(255, 165, 0);
            }
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                    </td>
                    <td>
                        Radar
                    </td>
                    <td>
                        Rain detection
                    </td>
                </tr>
                <tr>
                    <td>
                        Latest
                    </td>
                    <td>
                        <img src="/radar_1.png" />
                    </td>
                    <td>
                        <img src="/clouds_1.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Older
                    </td>
                    <td>
                        <img src="/radar_2.png" />
                    </td>
                    <td>
                        <img src="/clouds_2.png" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
