<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>weather bot</title>
        <meta name="description" content="Rainfall-alerting twitter bot">
        <meta name="author" content="Robert Wallhead">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>
            <img src="/clouds.png" style="position:absolute; border: 1px solid" />
            <img src="/latest.png" style="position:absolute;" />
        </div>
    </body>
</html>
